body {
  font-family: 'Minion Pro';
  line-height: 1.4rem;
}

h2 {
  margin-top: 18px;
  margin-bottom: 18px;
}

@media screen and (min-width: 992px) {
  h2 {
    margin-top: 8px;
    margin-bottom: 8px;
  }
}

p {
  margin-top: 8px;
  margin-bottom: 8px;
}

.tagline {
  font-size: 1.4rem;
  line-height: 2.7rem;
}

.sans {
  font-family: 'Times New Roman', sans-serif;
}

.card {
  min-height: 350px;
}

.double-card {
  min-height: 700px;
}

.card-text {
  min-height: 75px;
  width: 100%;
}

.card-image {
  width: 100%;
  height: 250px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.card-image.top {
  background-position: top;
}

.text-image {
  height: 300px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.primary {
  background-color: #002C48;
  color: #FFF;
}

.primary h1, .primary h2 {
  line-height: 2rem;
  color: #9FC5E9;
}

.secondary {
  background-color: #FDE7C0;
  color: #000;
}

.secondary h1, .secondary h2 {
  line-height: 2rem;
  color: #000;
}
